/* familjen-grotesk-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Familjen Grotesk';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/familjen-grotesk-v4-latin-regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/familjen-grotesk-v4-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/familjen-grotesk-v4-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/familjen-grotesk-v4-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/familjen-grotesk-v4-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/familjen-grotesk-v4-latin-regular.svg#FamiljenGrotesk') format('svg'); /* Legacy iOS */
  }
html {
    scroll-behavior: smooth; 
    }
* {
    box-sizing: border-box;
    }
body {
    background-color: white;
    font-family: 'Familjen Grotesk';
}
.paw {
    max-height: 40px;
}
.meme-img {
    display: block;
    max-height: 500px;
    padding-bottom: 1em;
    cursor: pointer;
}
.header {
    width: 70%;
    margin: 0 auto;
}
.accordion-wrapper {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 10px;
}
.accordion-item {
    border-top: 2px solid gray;
}
.accordion-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease-out;
}
.accordion-title:hover {
    color: rgb(168, 167, 167);
}
.paw:checked {
    transform: rotate(90deg);
}
.accordion-checkbox {
    width: 0;
    height: 0;
    appearance: none;
  }
.accordion-content {
    display: none;
    transition: all 0.3s ease-in-out;
}
.accordion-checkbox:checked ~ .accordion-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}